
#home{display:flex;
    height:15em;}




#home button  { 
    position: absolute;
    right:20px;
    top:10px;
    height:2em;
    width:4em;
    height: 4em;
    background:transparent;
    border:0;
        &:focus {outline:0;}
  }
  .opacity{
      opacity:0.5;
  }
  i{ 
    color:red;
    opacity: .8;  
    font-size: 4em;
      width:100%;
      

  }
  .close{
      position: relative;
      transform: translate(100px,30px);
      transition:transform 0.7s ease-in-out;
      
  }
  .closeit { 
    position: relative;
transform:rotate(-35deg) translate(30px,80px); 
    transition:transform 0.7s ease-in-out;
  }

  #home>h1{
      position:absolute;
      top: 60px;
      left:30px;
      @include glaho( rgba($dark-green, 0.8), 4em);
  }
    