
#home{
    display:flex;
    min-height:15em;
    height:auto;
    flex-wrap: wrap;
}




#home button  { 
    position: absolute;
    right:20px;
    top:10px;
    
    width:4em;
    height: 4em;
    background:transparent;
    border:0;
        &:focus {outline:0;}
  }
  .opacity{
      opacity:0.5;
  }
  i{ 
    color:red;
    opacity: .8;  
    font-size: 4em;
      width:100%;
      

  }
  .close{
      position: relative;
      transform: translate(100px,30px);
      transition:transform 0.7s ease-in-out;
      width:3em;
    height: 3em;
  }
  .closeit { 
    position: relative;
transform:rotate(-35deg) translate(35px,80px); 
    transition:transform 0.7s ease-in-out;
  }

  #home>h1{
      position:relative;
      top: 60px;
      left:30px;
      @include glaho( rgba($dark-green, 0.8), 4em);
    padding-bottom: 1em;
  }
  #home>h2{
    position:relative;
    padding-left: .5em;
    
    @include glaho( rgba($dark-green, 0.6), 2em);
    @media (min-width:700px){
        position:absolute;
top: 130px;
    left:30px;
    }
  
}
    