$height:20em;

.bgweb{height:$height;
    background-image: url('../../img/doodles.png') ;
    background-color:  $red;
    background-blend-mode:screen;
    background-repeat: repeat;
position: absolute;
display:block;
width:100%;
}
.bganim{height:$height;
    background-image: url('../../img/sativa1.png') ;
    background-color:  lighten($green, 4%);
    background-blend-mode:screen;
    background-repeat: repeat;
position:absolute;
display:block;
width:100%;
transform: translateY(300px);
}

.fa-caret-right,.fa-caret-left{
    &:hover{
        opacity: .5;
    }
}
.web{
    height:$height;
    width:auto;
overflow: hidden;
margin:0 5em;
align-self: center;
display:flex;



.fa-caret-left{
    position:absolute;
    width:auto;
    height:auto;
    color:lighten($green,.6);
       transform: translate(-50px,90px);
       font-size:7em;

}
.fa-caret-right{
    position:absolute;
    width:auto;
    height:auto;
    color:lighten($green,.6);
    right:0;
    transform: translate(-20px,90px);
    font-size:7em;
}
}


.anim {
    height:$height;
   
    
    overflow: hidden;
    margin:0 5em;
    align-self: center;
    display:flex;
    h2{position: absolute;
    @include studio(rgba($red,.8),1.5em);
}
    
    
    .fa-caret-left{
        position:absolute;
        width:auto;
        height:auto;
        color:lighten($green,.6);
           transform: translate(-50px,90px);
           font-size:7em;
    
    }
    .fa-caret-right{
        position:absolute;
        width:auto;
        height:auto;
        color:lighten($green,.6);
        right:0;
        transform: translate(-20px,90px);
        font-size:7em;
    }
}

ul{
    list-style-type: none;
}





.web-items{
//     background-color: transparent;

//  display:flex;

// min-height: 300px;
//  height:90%;
//  border-bottom: rgba($dark-green, 0.6) solid 1px;
// position: relative;
 
//  transform: translateX(0px);
 
//  transition: all .5s ease;
@include container();
h2{
    position:absolute;
    
    @include studio(white,2em);
    font-weight:600;
    margin:5px;
}
 margin-left:20px;




.item-1{
    @include pitem((url(../../img/capture.png),linear-gradient(to right, rgba($dark-green,.9),rgba($red,.2))),flex,multiply);
    
}


.item-2{@include pitem (rgba(grey,.2),none);

}

.item-3{
    @include pitem (rgba(grey,.2),none);

}


.item-4{
@include pitem (rgba(grey,.2),none)
}


.item-5{
@include pitem (rgba(grey,.2),none)
}


.item-6{
@include pitem (rgba(grey,.2),none)
}


}




.anim-items{
    @include container();
h2{position:absolute;
    font-family:'roboto';
    color:white;
    
}
margin-left:20px;

.item-1{@include pitem (url(../../img/sea.png),flex);

}

.item-2{@include pitem (url(../../img/ball.png),flex);

}

.item-3{
    @include pitem (url(../../img/car.png),flex);

}


.item-4{
@include pitem (url(../../img/borjomi.png),flex)
}


.item-5{
@include pitem (url(../../img/hud.png),flex)
}


.item-6{
@include pitem (rgba(grey,.2),none)
}







}